@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
We at the Rubber Duck Debugging Store, take privacy very seriously. 
We will not sell any of of your data and only keep the minimum of your name and your order 
</p>
